<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/CSS/components.css" />
  </head>
  <body>
    <footer id="footerDesktop">
      <div class="footerTop">
        <div id="sky">
          <div id="footerLogo">
            <img src="/images/background-2.png" alt="logo" />
            <h1>KYNDA</h1>
          </div>
          <div id="contact">
            <p>Contact</p>
            <div>
              <img src="/images/call-cross.png" alt="" />
              <p>Emergency Line: +1-800-SKY-HELP</p>
            </div>
            <div>
              <img src="/images/mail.png" alt="" />
              <p>Info@kynda.com</p>
            </div>
          </div>
        </div>

        <div class="footerLinkContainer">
          <div id="quickLinksFooter">
            <p>Quick Links</p>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">For Parents</a></li>
              <li><a href="#">For Tutors</a></li>
            </ul>
          </div>

          <div id="resourcesFooter">
            <p>Resources</p>
            <ul>
              <li><a href="#">Learning Hub</a></li>
              <li><a href="#">Tutor Resources</a></li>
              <li><a href="#">Exam Prep Guides</a></li>
            </ul>
          </div>

          <div id="legalFooter">
            <p>Legal</p>
            <ul>
              <li><a href="#">Tutor Policy</a></li>
              <li><a href="#">Contract Terms</a></li>
              <li><a href="#">Refund Policy</a></li>
            </ul>
          </div>

          <div id="help">
            <p>Help</p>
            <ul>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Message Us</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="footerBottom">
        <div class="footerTermsContainer">
          <p>&copy; 2025 Kynda. All Rights Reserved.</p>
          <div id="terms">
            <a href="#" onclick="event.preventDefault()">Terms & Conditions</a>
            <p>|</p>
            <a href="#" onclick="event.preventDefault()">Privacy & Policy</a>
          </div>
        </div>

        <div class="footerSocialMediaLogos">
          <a href="#" onclick="event.preventDefault()"
            ><img src="/images/button.png" alt=""
          /></a>
          <a href="#" onclick="event.preventDefault()"
            ><img src="/images/button-1.png" alt=""
          /></a>
          <a href="#" onclick="event.preventDefault()"
            ><img src="/images/button-2.png" alt=""
          /></a>
          <a href="#" onclick="event.preventDefault()"
            ><img src="/images/button-3.png" alt=""
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
