<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbars</title>
    <link rel="stylesheet" href="/CSS/components.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navLogoContainer">
          <img class="navLogo" src="/images/background.png" alt="logo" />
          <h1 class="navLogoText">KYNDA</h1>
        </div>
        <div class="navLinks">
          <ul class="navLinkstexts">
            <li><a href="#">Home</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Testimonial</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="navActions">
          <div class="navButtons">
            <a class="teachBtn" href="#">Teach on Kynda</a>
            <button class="logInBtn">Login</button>
            <button class="signUpBtn">Sign Up</button>
          </div>
          <div class="burgerMenu">
            <img class="burgerIcon" src="/images/button-frame.png" alt="" />
          </div>
        </div>

        <div class="collapsedMenu">
          <div class="navLinksCollapsed">
            <ul class="navLinkstextsCollapsed">
              <li><a href="#">Home</a></li>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Testimonial</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="navActionsCollapsed">
            <div class="navButtonsCollapsed">
              <a class="teachBtn" href="#">Teach on Kynda</a>
              <div class="collapsedMenuBtns">
                <button class="logInBtn">Login</button>
                <button class="signUpBtn">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <script src="/JS/components.js" defer></script>
  </body>
</html>
